*{
    margin: 0;
    padding: 0;
    font-family: sans-serif 'Segoe Print',serif,  "Century Gothic" , Tahoma, "Verdana Geneva";
}
html{
    background: rgb(109, 37, 37);
}
body{
    max-width: 88.9%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}
.header{
    display: grid;
    grid-template-columns: 1fr;
}
.logo img{
    width: 5.7%;
    height: 34px;
}
.nav-wrapper{
    display: flex;
    justify-content: space-between;
}
.right-side{
    display: flex;
    margin-top: 65px;
}
.nav-wrapper > .right-side >div{
    font-size: 16px;
    text-transform: uppercase;
}
.nav-link-wrapper a:link,.nav-link-wrapper a:visited{
    color: goldenrod;
    text-decoration: none;
    transition: 0.8s ease;
    padding: 0px 8px;
    box-sizing: border-box;
}
.nav-link-wrapper a:hover,.nav-link-wrapper a:active,.nav-link-wrapper a[href="books.html"]{
    background-color: goldenrod;
    color: maroon;
}
.content-wrapper{
    margin-top: 0px;
    border-top: 3px solid goldenrod;
    border-bottom: 3px solid goldenrod;
}
.title h1{
    margin: 0px;
    font-weight: normal;
    font-size: 30px;
    color: maroon;
}
.title p {
    margin: 0px;
    color: maroon;
    font-size: 16px;
}
.firstSection h1{
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    background-color: goldenrod;
    margin: 10px 220px;
    padding: 0px;
    box-sizing: border-box;
}
.firstSection p{
    font-size: 20px;
    text-indent: 2em;
    text-align: justify;  
}
.main-wrapper{
    display: flex;
}
.main-container{
    width: 33.3%;
    background-color: rgb(59, 65, 66);
    margin: 5px;
}
.main-container img{
    width: 100%;
    height: 250px;
}
.description-container h1{
    color: goldenrod;
    text-align: center;
    margin: 15px 0 0 0;
    font-size: 25px;
}
.description-container p{
    color: rgb(190, 184, 184);
    margin: 15px 50px;
    text-align: center;
    font-size: 20px;
    height: 100%;
}
.download-button{
    text-align: center;
}
.btn{
    padding: 5px 10px;
    background: goldenrod;
    color:#fff;
    width: 70%;
    /*border-radius: 10px;*/
    font-size: 20px;
    margin-top: 15px;
    border:1px solid goldenrod;
    cursor: pointer;
    transition-duration: .5s;

}
.btn:hover, .btn:active{
    background: transparent;
    cursor: pointer;
    color: goldenrod;
}
#NPMBB{
    margin-top: 56PX;
}
#LICBL{
    margin-top: 102PX;
}
.div-tooltip{
    opacity: 0;
    position: absolute;
    top:0;
    left:0;
    background: rgb(184, 182, 182);
    padding: 10px 20px;
    margin: 20px;
    z-index: 99999;
}
footer p{
    margin: 13px;
    text-align: center;
    font-family: sans-serif 'Segoe Print',serif,  "Century Gothic" , Tahoma, "Verdana Geneva";
    font-size: 25px;
    font-weight: bold;
    color: rgb(68, 48, 4)
}

@media(max-width: 768px){
     .firstSection h1{
        text-align: center;
        margin: 2% 0 0 0;
        width: 100%;
    }
    .nav-wrapper,.right-side{
        display: block;
        text-align: center;
        width: 100%;
    }
    .right-side{
        margin-top: 0px
    }
    .logo img{
        position: absolute;
        width: 40px;
        height: 35px;
        margin-top: 0px;
        margin-left: -75px;
    }
    .main-wrapper{
        display:block;
    }
    .main-container{
        width: 100%;
    }
}