*{
    margin: 0;
    padding: 0;
    font-family: sans-serif 'Segoe Print',serif,  "Century Gothic" , Tahoma, "Verdana Geneva";
}
html{
    background: rgb(109, 37, 37);
}
body{
    max-width: 83%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding-left: 40px;
    padding-right: 40px;
}
.header{
    display: grid;
    grid-template-columns: 1fr;
}
.logo img{
    width: 5.7%;
    height: 34px;
}
.nav-wrapper{
    display: flex;
    justify-content: space-between;
}
.right-side{
    display: flex;
    margin-top: 65px;
}
.nav-wrapper > .right-side >div{
    font-size: 16px;
    text-transform: uppercase;
}
.nav-link-wrapper a:link,.nav-link-wrapper a:visited{
    color: goldenrod;
    text-decoration: none;
    transition: 0.8s ease;
    padding: 0px 8px;
    box-sizing: border-box;
}
.nav-link-wrapper a:hover,.nav-link-wrapper a:active,.nav-link-wrapper a[href="contact.html"]{
    background-color: goldenrod;
    color: maroon;
}
.content-wrapper{
    margin-top: 0px;
    border-top: 3px solid goldenrod;
    border-bottom: 3px solid goldenrod;
}
.title h1{
    margin: 0px;
    font-weight: normal;
    font-size: 30px;
    color: maroon;
}
.title p {
    margin: 0px;
    color: maroon;
    font-size: 16px;
}
.h1{
    text-align: center;
}

.shop{
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    background-color: goldenrod;
    margin: 20px 220px;
    padding: 0px;
    box-sizing: border-box;
}
.address{
    margin-left: 250px;
    font-size: 18px;
}
span{
    color: goldenrod;
}

footer p{
    margin: 13px;
    text-align: center;
    font-family: sans-serif 'Segoe Print',serif,  "Century Gothic" , Tahoma, "Verdana Geneva";;
    font-size: 30px;
    font-weight: bold;
    color: rgb(68, 48, 4)
}

@media(max-width: 768px){
    .main_content h1,.shop{
        float: none;
        text-align: center;
        width: 100%;
    }
    .shop{
        margin: 0 0 0 0;
    }
    .nav-wrapper,.right-side{
        display: block;
        text-align: center;
        width: 100%;
    }
    .right-side{
        margin-top: 0px
    }
    .logo img{
        position: absolute;
        width: 40px;
        height: 35px;
        margin-top: 0px;
        margin-left: -75px;
    }
    body{
        max-width: 72.6%;
    }
    .address{
        text-align: center;
        margin: 0 0 0 0;
    }
   
}